*$py.class
build/
data/
develop-eggs/
dist/
downloads/
*.egg
*.egg-info/
.eggs/
eggs/
extra/
input/
pubmed/raw/
pubmed/processed/
pubmed/temporal/processed/
.installed.cfg
.ipynb_checkpoints/
lib/
lib64/
*.manifest
MANIFEST
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
__pycache__/
*.py[cod]
.pytest_cache/
.Python
.python-version
sdist/
share/python-wheels/
*.spec
target/
test/
var/
wheels/
